.land_main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  
 
    align-items: center;
  
    .texto-land {
      
      display: flex;
      flex-direction: column;
      color: white;
      gap: 1vw;
      padding-left: 10vw;
      width: max-content;
      h1 {
        width: 100vw;
        font-size: 6.25rem;
      }
      p {
        width: 30vw;
      }
  
      .button-contato {
        .contato {
          background-color: white;
          border: none;
          width: 12vw;
          height: 5vh;
          border-radius: 30px;
          transition: 1s;
          font-size: 20px ;
  
          &:hover {
            transform: scale(1.1);
            transition: 1s;
          }
        }
      }
    }
  }
  