.main_projeto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1C;
    width: 50vw;
    height: 35vh;
    border-radius: 30px;

    .texto-conteiner{
        display: flex;
        flex-direction: column;
        color: white;
        padding-left: 3.5vw;

        h3 {
            font-size: 1.5rem;
        }

        p{
            width: 25vw;
            font-size: 0.75rem;
        }

    }

    .ferramentas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
        padding-right: 3.5vw;

        .ferramentas1, .ferramentas2, .ferramentas3 {
            
        display: flex;
        justify-content: center;
        align-items: center;
            width: 3vw;
            height: 6.5vh;
            border-radius: 10px;
            background-color: #ffffff;
        }
    }
}