

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: max-content;
  
  scroll-snap-type: x mandatory;


  .Header-land   {
      display: flex;
      padding-top: 2vh;
      justify-content: center;
  }
  .sobre {
    background-color: white;
  }

}
 

// * {
//    border: 1px green solid;
//  }